/axum_api_gw/target
/axum_landlord_server/target
/axum_property_server/target
/axum_user_server/target
/axum_api_gw/.env
/axum_landlord_server/.env
/axum_property_server/.env
/axum_user_server/.env
/kafka
/target
.env
.rest
*.csv